.treenode {
  position: relative;

  &__wrapper {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 6px 0px;
  }

  &__title {
    font-size: 22px;

    &_error {
      display: flex;
      align-items: center;
      margin-left: -5px;

      & svg {
        max-width: 36px;
        width: 100%;
        margin-right: 8px;
        color: rgb(239, 68, 68);
        stroke: rgb(239, 68, 68);
      }
    }
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 14px 0px;
  }

  &__mark {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #cccbcb;
    color: #ffffff;
    width: 40px;
    height: 40px;
    text-transform: uppercase;
  }

  &__avatar {
    height: 40px;
    width: 40px;
    padding-right: 8px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-size: 16px;
  }

  &__subname {
    font-size: 13px;
    color: rgba(135, 138, 142, 1);
  }

  &__button {
    display: flex;
    align-items: center;
    margin: 0px !important;
    padding: 0px !important;
    width: 30px;
    height: 30px;
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    cursor: pointer;

    &-loader {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
    }

    & svg {
      width: 28px;
      height: 24px;
      display: inline-block;
      transition: transform 0.3s;
      transform: rotate(-180deg);

      & path {
        transition: fill 0.3s;
        fill: #ada8a8;
      }
    }

    &_active svg {
      transform: rotate(-90deg);
    }

    &:hover svg path {
      fill: #858282;
    }
  }

  &__noop {
    margin: 0px !important;
    padding: 0px !important;
    width: 30px;
    height: 30px;
    visibility: hidden;
    user-select: none;
  }
}
