.treenode {
  position: relative;

  &:has(.treenode__circle) {
    &::before {
      content: '';
      height: 100%;
      display: block;
      left: 18.5px;
      position: absolute;
      border-left: 2px solid #ebebec;
    }

    &:last-of-type::before {
      display: none;
    }

    &:last-child::before {
      display: none;
    }
  }

  &__wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 6px 0px;
  }

  &__title {
    font-size: 22px;

    &_error {
      display: flex;
      align-items: center;
      margin-left: -5px;

      & svg {
        max-width: 36px;
        width: 100%;
        margin-right: 8px;
        color: rgb(239, 68, 68);
        stroke: rgb(239, 68, 68);
      }
    }
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 14px;
    max-width: 480px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    background-color: #ebebec;
    transition: background-color 0.3s;

    &:hover {
      background-color: #dadada;
    }
  }

  &__mark {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    border-radius: 50%;
    background-color: #cccbcb;
    color: #ffffff;
    width: 50px;
    height: 50px;
    text-transform: uppercase;
  }

  &__avatar {
    height: 40px;
    width: 40px;
    padding-right: 8px;
    flex-shrink: 0;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__name {
    font-size: 16px;
    margin-bottom: 4px;
  }

  &__subname {
    font-size: 13px;
    color: rgba(135, 138, 142, 1);
  }

  &__noop {
    margin: 0px !important;
    padding: 0px !important;
    width: 38px;
    height: 38px;
    visibility: hidden;
    user-select: none;
    flex-shrink: 0;
  }

  &__circle {
    flex-shrink: 0;
    position: relative;
    width: 30px;
    height: 30px;
    padding: 4px;
    border-radius: 100%;
    background-color: #00b9bf;
    transition: background-color 0.5s;
    cursor: pointer;

    &_horizontal {
      position: absolute;
      background-color: #ffffff;
      width: 16px;
      height: 2px;
      left: 50%;
      margin-left: -8px;
      top: 50%;
      margin-top: -1px;
    }

    &_vertical {
      position: absolute;
      background-color: #ffffff;
      width: 2px;
      height: 16px;
      left: 50%;
      margin-left: -1px;
      top: 50%;
      margin-top: -8px;
    }

    &_closed .treenode__circle_vertical {
      transition: all 0.5s ease-in-out;
      transform: rotate(-90deg);
    }

    &_closed .treenode__circle_horizontal {
      transition: all 0.5s ease-in-out;
      transform: rotate(-90deg);
      opacity: 1;
    }

    &_opened {
      opacity: 1;
      background-color: #ffdf68;

      & .treenode__circle_vertical {
        transition: all 0.5s ease-in-out;
        transform: rotate(90deg);
      }

      & .treenode__circle_horizontal {
        transition: all 0.5s ease-in-out;
        transform: rotate(90deg);
        opacity: 0;
      }
    }
  }

  &__loader {
    position: relative;
  }

  &__line {
    height: 100%;
    display: block;
    left: 18.5px;
    position: absolute;
    border-left: 2px solid #ebebec;
  }

  &:has(.treenode__loader) {
    &::before {
      content: '';
      height: 100%;
      display: block;
      left: 18.5px;
      position: absolute;
      border-left: 2px solid #ebebec;
    }

    &:last-of-type::before {
      display: none;
    }

    &:last-child::before {
      display: none;
    }
  }
}
