#root-tree {
  margin: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 0;
  border: none;
  padding: 20px 32px;
  background-color: #ffffff;
  border-radius: 8px;
}

#wt-container > #content {
  min-height: calc(100vh - 116px);
}

@media screen and (max-width: 926px) {
  #root-tree {
    margin-top: 40px;
  }
}
