#root-tree {
  max-width: 1176px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 0;
  border: none;
  padding-left: 2em;
}

#wt-container > #content {
  min-height: calc(100vh - 116px);
}

@media screen and (max-width: 926px) {
  #root-tree {
    padding-top: 2em;
  }
}
